<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      Equipo de trabajo
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3"
    >

      @for(item of team; track item.name){

      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl"
      >
        <img
          class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600"
          [src]="item.image"
          alt="Foto de Adrian Rico Aristizabal"
        />
        <h1
          class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white"
        >
          {{ item.name }}
        </h1>
        <p class="text-gray-500 dark:text-gray-300">{{ item.role }}</p>
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
          {{ item.description }}
        </p>
      </div>
      }
    </div>
  </div>
</section>
