<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">Equipo de trabajo</h1>
        
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
            
            <!-- Adrian Rico Aristizabal -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/Adrian.png" alt="Foto de Adrian Rico Aristizabal">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Adrian Rico Aristizabal</h1>
                <p class="text-gray-500 dark:text-gray-300">Investigador experto</p>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">Participación en proyectos e investigación sobre sistemas sostenibles de producción agropecuaria (Sistemas Agroforestales con cacao y Sistemas Silvopastoriles) y procesos de fermentación en café y cacao.</p>
            </div>

            <!-- Karen Julieth Lozano Rojas -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/Karen.jpeg" alt="Foto de Karen Julieth Lozano Rojas">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Karen Julieth Lozano Rojas</h1>
                <p class="text-gray-500 dark:text-gray-300">Investigadora experta</p>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">Participación en proyectos de investigación sobre elaboración de abonos orgánicos y procesos de fermentación en café y cacao.</p>
            </div>

            <!-- Kevin Santiago Trujillo Guzmán -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/Kevin.jpeg" alt="Foto de Kevin Santiago Trujillo Guzmán">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Kevin Santiago Trujillo Guzmán</h1>
                <p class="text-gray-500 dark:text-gray-300">Investigador junior</p>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">Participación en proyectos de investigación sobre cosecha, poscosecha y fermentación de café y cacao.</p>
            </div>

            <!-- Claudia Mercedes Ordoñez Espinosa -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/Claudia.jpg" alt="Foto de Claudia Mercedes Ordoñez Espinosa">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Claudia Mercedes Ordoñez Espinosa</h1>
                <p class="text-gray-500 dark:text-gray-300">Instructora investigadora línea café</p>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">Instructora SENA, profesional en Ingeniería Agropecuaria, Magister en Sistemas Sostenibles, Doctora en Ciencia Biología. Certificada en Cata Internacional de Cacao y Chocolate IICCT e ISCQF & CoEx 2024.</p>
            </div>

            <!-- Kathryn Yadira Guzmán Pacheco -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/Kathryn.jpeg" alt="Foto de Kathryn Yadira Guzmán Pacheco">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Kathryn Yadira Guzmán Pacheco</h1>
                <p class="text-gray-500 dark:text-gray-300">Instructora investigadora línea cacao</p>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">Instructora SENA, Ingeniera Agroindustrial, experta en confitería y chocolatería para mercados especializados. Certificada en Cata Internacional de Cacao y Chocolate IICCT e ISCQF & CoEx 2024.</p>
            </div>

            <!-- Cesar Augusto Perez Tafur -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/img/Fotos_autores/cesar.jpg" alt="Foto de Cesar Augusto Perez Tafur">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Cesar Augusto Perez Tafur</h1>
                <p class="text-gray-500 dark:text-gray-300">Experto Tecnoparque en innovación y desarrollo tecnológico</p>
            </div>

            <!-- Juan Pablo Ramos Medina -->
            <div class="flex flex-col items-center p-8 transition-colors duration-200 transform hover:bg-blue-600 rounded-xl">
                <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300 dark:ring-gray-600" src="/assets/Fotos_autores/juan.jpg" alt="Foto de Juan Pablo Ramos Medina">
                <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Juan Pablo Ramos Medina</h1>
                <p class="text-gray-500 dark:text-gray-300">Pasante Tecnólogo en Análisis y Desarrollo de Software</p>
            </div>
            
        </div>
    </div>
</section>
