section{
    padding: 50px 0;
}
 
h1, h2 {
    background: #73738e;
background: linear-gradient(to right, #aeafc1 0%, #e96711 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.footer-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
  }
  