<app-navbar />
<div class="bg-white dark:bg-gray-900">
  <div class="flex justify-center h-screen">
    <div
      class="hidden bg-cover lg:block lg:w-2/3"
      style="
        background-image: url('https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
      "
    >
      <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
        <div>
          <h2 class="text-4xl font-bold text-white">SIDICC</h2>
          <p class="max-w-xl mt-3 text-gray-300">
            Es un sistema de información web para dar a conocer el uso de
            microorganismos en el beneficio del cacao.
          </p>
        </div>
      </div>
    </div>

    <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
      <div class="flex-1">
        <div class="text-center">
          <h2
            class="text-4xl font-bold text-center text-gray-700 dark:text-white"
          >
            SIDICC
          </h2>
        </div>
        <div
  *ngIf="errorMessage"
  class="bg-green-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-6"
>
  <span class="block sm:inline">{{ errorMessage }}</span>
  <span
    class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer"
    (click)="errorMessage = null"
  >
    <svg
      class="fill-current h-6 w-6 text-red-500"
      role="button"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <title>Cerrar</title>
      <path
        d="M14.348 5.652a.5.5 0 0 1 0 .707L10.707 10l3.641 3.641a.5.5 0 1 1-.707.707L10 10.707l-3.641 3.641a.5.5 0 1 1-.707-.707L9.293 10 5.652 6.359a.5.5 0 1 1 .707-.707L10 9.293l3.641-3.641a.5.5 0 0 1 .707 0z"
      />
    </svg>
  </span>
</div>

        <form [formGroup]="formLogin"  (ngSubmit)="iniciarSesion()">
          <div class="mt-4">
            <label
              for="email"
              class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
              >Correo</label
            >
            <input
              type="email"
              formControlName="correo"
              id="email"
              placeholder="example@example.com"
              [ngClass]="{
                'border-red-500 focus:border-red-500 focus:ring-red-500':
                  formLogin.get('correo')?.invalid &&
                  formLogin.get('correo')?.touched,
                'border-gray-200 focus:border-blue-400 focus:ring-blue-400':
                  formLogin.get('correo')?.valid ||
                  !formLogin.get('correo')?.touched
              }"
              class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:outline-none focus:ring focus:ring-opacity-40"
            />
            <p
              *ngIf="formLogin.get('correo')?.errors?.['required'] && formLogin.get('correo')?.touched"
              class="mt-2 text-sm text-red-500"
            >
              El correo es obligatorio.
            </p>
            <p
              *ngIf="formLogin.get('correo')?.errors?.['email'] && formLogin.get('correo')?.touched"
              class="mt-2 text-sm text-red-500"
            >
              Ingresa un correo válido.
            </p>
          </div>

          <div class="mt-6">
            <label
              for="password"
              class="block mb-2 text-sm text-gray-600 dark:text-gray-200"
              >Contraseña</label
            >
            <input
              type="password"
              formControlName="password"
              id="password"
              [ngClass]="{
                'border-red-500 focus:border-red-500 focus:ring-red-500':
                  formLogin.get('password')?.invalid &&
                  formLogin.get('password')?.touched,
                'border-gray-200 focus:border-blue-400 focus:ring-blue-400':
                  formLogin.get('password')?.valid ||
                  !formLogin.get('password')?.touched
              }"
              class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:outline-none focus:ring focus:ring-opacity-40"
            />
            <p
              *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.touched"
              class="mt-2 text-sm text-red-500"
            >
              La contraseña es obligatoria.
            </p>
            <p
              *ngIf="formLogin.get('password')?.errors?.['minlength'] && formLogin.get('password')?.touched"
              class="mt-2 text-sm text-red-500"
            >
              La contraseña debe tener al menos 6 caracteres.
            </p>
          </div>

          <a
            href="#"
            class="text-sm text-gray-400 focus:text-blue-500 hover:text-blue-500 hover:underline"
            >¿Olvidaste tu contraseña?</a
          >

          <div class="mt-6">
            <button
              type="submit"
              [disabled]="formLogin.invalid"
              [ngClass]="{
                'bg-blue-500 text-white hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700':
                  formLogin.valid,
                'bg-gray-400 text-gray-700 cursor-not-allowed dark:bg-gray-600 dark:text-gray-300':
                  formLogin.invalid
              }"
              class="px-4 py-2 rounded-md w-full transition duration-300"
            >
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
