
    <!-- Navbar -->
    <app-navbar />
    <div class="min-h-screen bg-gray-50 dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8 ">
    <!-- Título -->
    <div class="text-center mb-8 mt-20">
      <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white sm:text-5xl">
        Procesos de Cosecha, Postcosecha y Beneficio del Cafe
      </h1>
      
    </div>
  
    <!-- Galería de imágenes -->
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Imágenes -->
         @for(image of phLabImagesCofe; track image;){

          <div class="aspect-w-1 aspect-h-1">
            <img class="w-full h-full object-cover rounded-lg" [ngSrc]="image" alt="Determinación de pH" width="400" height="200" loading="lazy">
          </div>
         }
       
        
      </div>
    </div>
  
    <hr class="border-t my-8 border-gray-600 border-dashed overflow-visible relative before:content-[''] before:block before:border-8 before:border-gray-600 before:w-4 before:h-4 before:rounded-full before:absolute before:left-0 before:-top-2 after:content-[''] after:block after:border-8 after:border-gray-600 after:w-4 after:h-4 after:rounded-full after:absolute after:right-0 after:-top-2" />
  

    <!-- Sección de Secado -->
   <div class="justify-center flex">
    <h1 class="mx-auto text-4xl font-extrabold text-gray-900 dark:text-white mb-6">Secado</h1>

   </div>
    <section >
     
      @for(image of ImageCoffe; track image){
        <img [ngSrc]="image" alt="Secado de café"  width="400" height="200" loading="lazy">
      }      
     
      
       
    </section>
  
   
    <!-- Sección de Preparación de la Muestra -->
    <div class="bg-white dark:bg-gray-900 py-12">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
          <!-- Contenido de texto -->
          <div class="lg:col-span-7">
            <h1 class="text-3xl sm:text-4xl font-extrabold text-gray-900 dark:text-white mb-6">
              Preparación de la Muestra
            </h1>
            <p class="text-base sm:text-lg text-gray-600 dark:text-gray-400 mb-6">
              Tostión de cada muestra. Molienda y preparación de muestras para generar la catación.
            </p>
            <p class="text-base sm:text-lg text-gray-600 dark:text-gray-400 mb-6">
              Atributos para tener en cuenta: Fragancia/aroma, sabor, sabor residual, acidez, cuerpo, uniformidad, balance, dulzor, taza limpia y puntaje del catado (Valencia et al., 2015).
            </p>
            <p class="text-base sm:text-lg text-gray-600 dark:text-gray-400 mb-6">
              El análisis lo realizarán personas expertas que, junto con los profesionales vinculados al proyecto, formarán el panel de catación (Valencia et al., 2015).
            </p>
            <p class="text-base sm:text-lg text-gray-600 dark:text-gray-400">
              Taller para que los productores vinculados al proyecto prueben las muestras evaluadas.
            </p>
          </div>
    
          <!-- Imagen -->
          <div class="lg:col-span-5 flex justify-center items-center">
            <img
              class="rounded-lg shadow-lg w-full max-w-md lg:max-w-full"
              src="/assets/img/ruedaCafe.webp"
              alt="Rueda de café"
              loading="lazy"
            >
          </div>
        </div>
      </div>
    </div>
</div>
    <!-- Botón de WhatsApp -->
    <app-wasapp-button />
  
    <!-- Footer -->
    <app-footer />
 