


<section class="bg-center bg-no-repeat bg-[url('/assets/img/section-3-cacao.webp')] bg-gray-700 bg-blend-multiply" id="home">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Uso de microorganismos en el beneficio de café y cacao para el mejoramiento de la calidad en el norte del Huila.</h1>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            
        </div>
    </div>
</section>