/* Asegura que la sección contenedora tenga dimensiones */
section {
    position: relative;
    height: 100vh; /* o el valor que necesites */
  }
  
  /* Estilos para la imagen de fondo */
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
    background-blend-mode: multiply;
  }
 

h1, h2 {
    background: #282833;
  background: linear-gradient(to right, #313ef8 0%, #e27f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  