<section class="relative" id="home" style="height: 100vh;"> <!-- Altura ajustable -->
    <!-- Imagen optimizada -->
    <img 
      [ngSrc]="imageUrl"
      alt="Fondo de café y cacao"
      priority
      fill
      class="object-cover -z-10 brightness-50" 
    >
    
    <!-- Overlay oscuro (opcional, para más control) -->
    <div class="absolute inset-0 bg-gray-800 opacity-60 -z-10"></div>
  
    <!-- Contenido -->
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 relative z-10">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
        Uso de microorganismos en el beneficio de café y cacao para el mejoramiento de la calidad en el norte del Huila.
      </h1>
    </div>
  </section>