<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-[40rem] overflow-hidden rounded-lg">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/img/carousel-1.jpg" class="absolute block w-full h-full object-cover" alt="Image 1">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center">
                <div class="container mx-auto px-4">
                    <div class="text-start">
                        <h1 class="text-4xl md:text-6xl text-white font-bold animate-slideInRight">
                            Uso de microorganismos en el beneficio de cacao
                        </h1>
                       
                    </div>
                </div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="/assets/img/carousel-2.jpg" class="absolute block w-full h-full object-cover" alt="Image 2">
            <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center">
                <div class="container mx-auto px-4">
                    <div class="text-end">
                        <h1 class="text-4xl md:text-6xl text-white font-bold animate-slideInLeft">
                            Uso de microorganismos en el beneficio de café
                        </h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</div>
