<!-- component -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.js"></script>

<script>
    tailwind.config = {
        theme: {
            container: {
                center: true,
                padding: '2rem',
            },
        }
    }
</script>


<main class="min-h-[100dvh] py-[100px] bg-black flex flex-col justify-center">
    <section class="container">
        <!-- Desktop Version -->
        <div
            id="slider-wrapper"
            class="hidden xl:grid xl:grid-cols-[546px_1fr] 2xl:grid-cols-[690px_1fr]"
        >
            <!-- Left Side - Image Slider -->
            <div
            id="image-slider"
            class="relative z-[1] overflow-hidden bg-black/50 rounded-xl"
            >
                <!-- For Sizing -->
                <!-- To set the size of the Image Slider, because it works via 'position: absolute;' -->
                <div class="flex invisible">
                    <!-- Image 1 -->
                    <img
                        class="block w-full h-full object-contain"
                        src="https://picsum.photos/id/70/600/400" 
                    />

                    <!-- Image 2 -->
                    <img
                        class="block w-full h-full object-contain"
                        src="https://picsum.photos/id/83/600/400"
                    />

                    <!-- Image 3 -->
                    <img
                        class="block w-full h-full object-contain"
                        src="https://picsum.photos/id/94/600/400"
                    />
                </div>

                <!-- Image Slider Items -->
                <!-- Image 1 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full h-full flex flex-col justify-center opacity-0"
                >
                    <div class="rounded-xl overflow-hidden">
                        <img
                            class="block w-full h-full object-contain"
                            src="https://picsum.photos/id/70/600/400"
                        />
                    </div>
                </div>

                <!-- Image 2 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full h-full flex flex-col justify-center opacity-0"
                >
                    <div class="rounded-xl overflow-hidden">
                        <img
                            class="block w-full h-full object-contain"
                            src="https://picsum.photos/id/83/600/400"
                        />
                    </div>
                </div>

                <!-- Image 3 -->
                <div
                    class="keen-slider__slide absolute top-0 w-full h-full flex flex-col justify-center opacity-0"
                >
                    <div class="rounded-xl overflow-hidden">
                        <img
                            class="block w-full h-full object-contain"
                            src="https://picsum.photos/id/94/600/400"
                        />
                    </div>
                </div>
            </div>

            <!-- Right Side - Text Slider -->
            <div id="text-slider" class="keen-slider relative">
                <!-- Text Slider Items -->
                <!-- Text 1 -->
                <div
                    class="keen-slider__slide xl:w-[332px] 2xl:w-[380px] absolute h-full flex flex-col justify-center"
                >
                    <div class="text-lg text-white font-medium">
                        1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        recusandae nisi mollitia vel facere dolorem ad sapiente nesciunt,
                        assumenda quod quisquam a qui voluptatem magni beatae iste
                        molestias impedit voluptatum.
                    </div>
                </div>

                <!-- Text 2 -->
                <div
                    class="keen-slider__slide xl:w-[332px] 2xl:w-[380px] absolute h-full flex flex-col justify-center"
                >
                    <div class="text-lg text-white font-medium">
                        2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        recusandae nisi mollitia vel facere dolorem ad sapiente nesciunt,
                        assumenda quod quisquam a qui voluptatem magni beatae iste
                        molestias impedit voluptatum.
                    </div>
                </div>

                <!-- Text 3 -->
                <div
                    class="keen-slider__slide xl:w-[332px] 2xl:w-[380px] absolute h-full flex flex-col justify-center"
                >
                    <div class="text-lg text-white font-medium">
                        3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        recusandae nisi mollitia vel facere dolorem ad sapiente nesciunt,
                        assumenda quod quisquam a qui voluptatem magni beatae iste
                        molestias impedit voluptatum.
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Version - List -->
        <div class="relative xl:hidden flex flex-col gap-6 [&>*:nth-child(2)>img]:order-1">
            <!-- List Items -->
            <!-- Item 1 -->
            <div class="grid grid-cols-2 gap-3 md:gap-5 lg:md:gap-8">
                <!-- Image 1 -->
                <img
                    class="block w-full h-full object-cover rounded-md"
                    src="https://picsum.photos/id/70/600/400"
                />

                <!-- Text 1 -->
                <p class="m-0 text-sm md:text-md lg:text-lg text-white">
                    1 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam doloremque totam eius laborum animi delectus ullam nobis
                    repellendus. Corrupti veritatis molestias temporibus obcaecati? Quo
                    pariatur minus commodi, error soluta voluptatum.
                </p>
            </div>

            <!-- Item 2 -->
            <div class="grid grid-cols-2 gap-3 md:gap-5 lg:md:gap-8">
                <!-- Image 2 -->
                <img
                    class="block w-full h-full object-cover rounded-md"
                    src="https://picsum.photos/id/83/600/400"
                />

                <!-- Text 2 -->
                <p class="m-0 text-sm md:text-md lg:text-lg text-white">
                    2 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam doloremque totam eius laborum animi delectus ullam nobis
                    repellendus. Corrupti veritatis molestias temporibus obcaecati? Quo
                    pariatur minus commodi, error soluta voluptatum.
                </p>
            </div>

            <!-- Item 3 -->
            <div class="grid grid-cols-2 gap-3 md:gap-5 lg:md:gap-8">
                <!-- Image 3 -->
                <img
                    class="block w-full h-full object-cover rounded-md"
                    src="https://picsum.photos/id/94/600/400"
                />

                <!-- Text 3 -->
                <p class="m-0 text-sm md:text-md lg:text-lg text-white">
                    3 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam doloremque totam eius laborum animi delectus ullam nobis
                    repellendus. Corrupti veritatis molestias temporibus obcaecati? Quo
                    pariatur minus commodi, error soluta voluptatum.
                </p>
            </div>
        </div>

    </section>
</main>

<script>
document.addEventListener("DOMContentLoaded", async function () {
    // Params
    const animationDuration = 1000;
    const autoplayDelay = 10000;

    // UI
    const sectionWrapper = document.querySelector("#slider-wrapper");

    // Image Slider
    const imageSlider = new KeenSlider(
        "#image-slider",
        {
            loop: true,
            defaultAnimation: {
                duration: animationDuration,
            },
            detailsChanged: (s) => {
                s.slides.forEach((element, idx) => {
                element.style.opacity = s.track.details.slides[idx].portion;
                });
            },
            renderMode: "custom",
        },
        [
            (slider) => {
                let timeout;
                let mouseOver = false;
                function clearNextTimeout() {
                clearTimeout(timeout);
                }
                function nextTimeout() {
                clearTimeout(timeout);
                if (mouseOver) return;
                timeout = setTimeout(() => {
                    slider.next();
                }, autoplayDelay);
                }
                slider.on("created", () => {
                slider.container.addEventListener("mouseover", () => {
                    mouseOver = true;
                    clearNextTimeout();
                });
                slider.container.addEventListener("mouseout", () => {
                    mouseOver = false;
                    nextTimeout();
                });
                nextTimeout();
                });
                slider.on("dragStarted", clearNextTimeout);
                slider.on("animationEnded", nextTimeout);
                slider.on("updated", nextTimeout);
            },
        ]
    );

    // Text Slider
    const textSlider = new KeenSlider(
        "#text-slider",
        {
            defaultAnimation: {
                duration: animationDuration,
            },
            loop: true,
            slides: {
                origin: "center",
                perView: 2,
                spacing: 15,
            },
            detailsChanged: (s) => {
                const slides = s.track.details.slides;
                s.slides.forEach((element, idx) => {
                scaleElement(element.querySelector("div"), slides[idx].portion);
                });
            },
            initial: 0,
        },
        [SyncSlidersPlugin(imageSlider)]
    );

    function scaleElement(element, portion) {
        const scale_size = 0.75;
        const scale = 1 - (scale_size - scale_size * portion);
        const scale_style = `scale(${scale})`;
        element.style.transform = scale_style;
        element.style["-webkit-transform"] = scale_style;

        const opacity = portion === 1 ? 1 : 0.2;
        element.style.opacity = String(opacity);
    }

    // Sync sliders
    function SyncSlidersPlugin(secondSlider) {
        return (firstSlider) => {
        firstSlider.on("created", () => {
            // Sync
            secondSlider.on("slideChanged", (secondSlider) => {
                const nextId = secondSlider.track.details.rel;

                firstSlider.moveToIdx(nextId);
            });

            firstSlider.on("slideChanged", (firstSlider) => {
                const nextId = firstSlider.track.details.rel;

                secondSlider.moveToIdx(nextId);
            });

            // Click on Wrapper
            sectionWrapper.addEventListener("click", () => {
                firstSlider.next();
            });
        });
        };
    }
});
</script>