<app-navbar />

<div class="min-h-screen bg-gray-50 dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8 flex justify-center pt-20"> <!-- Ajusta el padding-top -->
  <div class="max-w-5xl w-full">
    <!-- Título -->
    <div class="text-center mb-8">
      <h1 id="titulo" class="text-4xl font-extrabold text-gray-900 dark:text-white sm:text-5xl scroll-mt-20">
        Procesos de Cosecha, Postcosecha y Beneficios del Cacao
      </h1>
      
    </div>

    <!-- Contenedor de imágenes -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
      @for (image of mazorcaImages; track image;) {
        <div class="aspect-w-1 aspect-h-1">
          <img class="w-full h-full object-cover rounded-lg" [ngSrc]="image" alt="Cosecha de café" width="600" height="400" priority>
        </div>
      }
    </div>
  </div>
</div>

<div class="bg-white dark:bg-gray-800"> <!-- Contenedor padre con fondo oscuro en modo oscuro -->
  <div class="bg-white dark:bg-gray-900 p-6 md:p-12 rounded-lg">
    <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-6 text-center">
      Determinación de pH
    </h1>

    <!-- Sección de imágenes -->
    <section>
      @for (image of phLabImages; track image;) {
        <img [ngSrc]="image" alt="Determinación de pH" width="400" height="200" loading="lazy">
      }
    </section>

    <!-- Separador -->
    <hr class="border-t my-4 border-gray-600 border-dashed overflow-visible relative before:content-[''] before:block before:border-8 before:border-gray-600 before:w-4 before:h-4 before:rounded-full before:absolute before:left-0 before:-top-2 after:content-[''] after:block after:border-8 after:border-gray-600 after:w-4 after:h-4 after:rounded-full after:absolute after:right-0 after:-top-2" />

    <!-- Otra sección de imágenes -->
    <section>
      @for (image of phLab2Images; track image;) {
        <img [ngSrc]="image" alt="Determinación de pH" width="400" height="200" loading="lazy">
      }
    </section>
  </div>
</div>

<app-wasapp-button />
<app-footer />