<footer class="bg-gray-900 text-white py-8 dark:bg-gray-800">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <!-- Logo -->
        <div class="flex justify-center mb-6 md:mb-0">
            <a href="#" class="text-2xl font-bold text-white dark:text-white">Logo</a>
        </div>
        
        <!-- Información del centro -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mb-10">
            <div>
                <h5 class="text-white text-2xl font-semibold mb-4">Centro Agropecuario Sena La Angostura</h5>
                <p class="mb-2 text-gray-500 dark:text-gray-400"><i class="fa fa-map-marker-alt me-3"></i> Km 38 al sur de Neiva, municipio de Campoalegre</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400"><i class="fa fa-phone-alt me-3"></i> (+57) 3175733008</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400"><i class="fa fa-envelope me-3"></i> angosturasena.edu.co</p>
                <div class="flex pt-3">
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.facebook.com/share/18ayoGHKnh/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://www.youtube.com/@SENAComunica"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href="https://twitter.com/sena"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            
            <!-- Enlaces rápidos -->
            <div>
                <h5 class="text-white text-2xl font-semibold mb-4">Enlaces rápidos</h5>
                <a href="#cacaoFinca" class="text-gray-400 hover:text-white dark:text-gray-400 dark:hover:text-white mb-2 block">Fincas Cacaoteras</a>
                <a href="#cafeFincas" class="text-gray-400 hover:text-white dark:text-gray-400 dark:hover:text-white mb-2 block">Fincas Café</a>
                <a href="#contactos" class="text-gray-400 hover:text-white dark:text-gray-400 dark:hover:text-white mb-2 block">Contáctanos</a>
            </div>
            
            <!-- Jornada de atención -->
            <div>
                <h5 class="text-white text-2xl font-semibold mb-4">Jornada de atención</h5>
                <p class="mb-1 text-gray-500 dark:text-gray-400">Lunes - Viernes</p>
                <h6 class="text-light text-gray-400">7:15 a.m. a 4:15 p.m.</h6>
                <p class="mb-1 text-gray-500 dark:text-gray-400">Sábados - Domingos</p>
                <h6 class="text-light text-gray-400">Cerrado</h6>
            </div>
        </div>
  
       
    </div>
</footer>
