<footer class="bg-white text-gray-900 py-8 dark:bg-gray-900 dark:text-white">
    <div class="container mx-auto px-6 md:px-12">
        <!-- Logo -->
        <div class="text-center mb-8">
            <a routerLink="/home" class="text-3xl font-extrabold text-gray-900 dark:text-white">SIDICC</a>
        </div>

        <!-- Footer Content -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <!-- Información del centro -->
            <div>
                <h5 class="text-lg font-bold mb-4 text-gray-900 dark:text-gray-200">Centro Agropecuario Sena La Angostura</h5>
                <p class="mb-2 text-gray-600 dark:text-gray-400"><i class="fa fa-map-marker-alt mr-2"></i>Km 38 al sur de Neiva, municipio de Campoalegre</p>
                <p class="mb-2 text-gray-600 dark:text-gray-400"><i class="fa fa-phone-alt mr-2"></i>(+57) 3175733008</p>
                <p class="mb-2 text-gray-600 dark:text-gray-400"><i class="fa fa-envelope mr-2"></i>angosturasena.edu.co</p>
                <div class="flex space-x-4 mt-4">
                    <a href="https://www.facebook.com/share/18ayoGHKnh/" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.youtube.com/@SENAComunica" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://twitter.com/sena" class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- Jornada de atención -->
            <div>
                <h5 class="text-lg font-bold mb-4 text-gray-900 dark:text-gray-200">Jornada de atención</h5>
                <p class="mb-1 text-gray-600 dark:text-gray-400">Lunes - Viernes</p>
                <p class="text-gray-600 dark:text-gray-400">7:15 a.m. a 4:15 p.m.</p>
                <p class="mt-4 mb-1 text-gray-600 dark:text-gray-400">Sábados - Domingos</p>
                <p class="text-gray-600 dark:text-gray-400">Cerrado</p>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="mt-8 border-t border-gray-200 dark:border-gray-700 pt-4 text-center text-gray-600 dark:text-gray-400">
            <p>&copy; 2024 SIDICC. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>